.container {
  text-align: center;
}
.text-center {
  text-align: center;
  width: 100%;
}
label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.password-container {
  position: relative;
  display: inline-block;
}

.password-input {
  width: 300px;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input-item {
  margin-bottom: 15px;
}

.button-container {
  text-align: center;
}



