<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Take My Stuff
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="center-content">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <ion-col size-md="6" size-lg="4" size-sm="8" size-xs="10">
          <div class="button-container">
            <ion-button expand="block" shape="round" (click)="navis()">Sign Up</ion-button>
            <ion-button expand="block" shape="round" color="medium" (click)="navil()">Log In</ion-button>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>    

</ion-content>
